* { margin: 0;
    padding: 0;
    }

/* Orden de grid */
#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header'
        'main'
        'footer'
    ;
}

/* cabecera */
header {
    color: white;
    display: flex;
    background-color: rgb(1, 179, 187);
    align-items: center;
    padding: 2rem 0 ;
    grid-area: header;
    position: sticky;
    top: 0px;
    animation-name: header-mobile;
    animation-duration: 1.5s;
}

.fa-dice {
    font-size: xx-large;
    margin-left: 1rem;
}

.logotipo h1 {
    font-size: x-large;
    margin: 1rem 0 0 1rem;
}

/* lista desktop  */
.lista {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
}

.lista a {
    color: azure;
    margin: 1rem;
}

/* Grilla de juegos */
main {
    grid-area: main;
}

main h1 {
    text-align: center;
    margin: 1rem;
}

.productos {
    display: grid;
    margin: 1rem 3rem;
}

.productos .juegos {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    border: groove rgb(159, 94, 77);
}

.productos .juegos h3{
    margin-bottom: 0.5rem;
}

.productos .juegos p { 
    border-radius: 10px;
    background-color:rgb(2, 146, 29);
    color: #fff;
    padding: 1rem;
    cursor: cell;
}

.productos .juegos img {
    width: 300px;
    margin: 0.5rem;
}

.productos .juegos .detalle {
    text-align: center;
    margin: 1rem;
}


/* pie de pagina */
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 142, 68);
    padding: 1rem;
    align-items: center;
    grid-area: footer;
    position: sticky;
    bottom: 0px;
}

footer i {
    font-size: 1.9rem;
    color: #fff;
    margin: 0.5rem ;
}

footer p {
    color: #fff;
}


@media (min-width: 576px) {

#root {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: 
        'header main'
        'header main'
        'footer footer'
    ;
    }

    /* Cabecera */
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-area: header;
        height: calc(100vh - 11rem);
        width: 199px;
        animation-name: none;
    }
    header .lista {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

/* grilla juegos */
    .productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
        animation-name: Expandir;
        animation-duration: 1.5s;
    }
    .productos .juegos img {
        height: 250px;
        object-fit: contain;
        margin: 1rem;       
    }
}

/* animacion cambio color header en mobile */
@keyframes header-mobile {
50% {background-color :rgb(2, 146, 29);}
to  {background-color: rgb(1, 179, 187);}
}

/* Animacion para grilla de juegos en @media */
@keyframes Expandir {
from    {transform: scale(0);}
60%     {transform: scale(1.1);}
to      {transform: scale(1);}
}

/* Cambio color carrito de compra */
.productos .juegos p:hover {
    background-color: rgb(205, 231, 195) ;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

/* filtro de imagen  */
img:hover{
    animation-name: filtro;
    animation-duration: 0.5s;
}

@keyframes filtro {
50% {filter: blur(10px); transform: scale(1.1); }
to  {filter: none; transform: scale(1);}
}
